{% extends "cactus_search/base.html" %}

{% block title %}CACTUS Search{% endblock %}

{% block search_field %}
<form action="{% url "cactus_search.views.search" %}" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-default" type="submit" value="Explore the universe" />
</form>
{% endblock %}


{% block content %}
{% if envoi %}

<h2>Results :</h2>
<p>Searched keywords : <span class="label label-default">{{ keywords }}</span></p>
<hr>

{% for gr in groups %}
<div class="well">
	<h2>{{ gr.title }}</h2>

	{% for eu in gr.enriched_urls %}
	
		{%comment%}
		{# Quand il y aura des URIs, remplacer la ligne dessous par #}
		<a href='{{ eu.url }}'>{{ eu.url }}</a>
		{%endcomment%}
		<a href='{{ eu }}'>{{ eu }}</a>

		<p> -
		{% for uri in eu.uris %}
			{{uri}} -
		{% endfor %}
		</p>

	{% endfor %}
</div>

{% endfor %}

{% endif %}
{% endblock %}
