{% extends "cactus_search/base.html" %}

{% block title %}CACTUS Search{% endblock %}

{% block search_field %}
<form action="{% url "cactus_search.views.search" %}" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-default" type="submit" value="Explore the universe" />
</form>
{% endblock %}


{% block content %}
{% if envoi %}


<p>Searched keywords : <span class="label label-default">{{ keywords }}</span></p>



{% if is_country %}
<hr>
<h2>Country Info :</h2>
<div class="well">
  {% for ci in countries %}
  <p> <b>{{ci.prefix}}</b> : {{ci.info}}</p>
  {% endfor %}
</div>
{% endif %}



{% if movies_exist %}
<hr>
<h2>Related movies :</h2>
<div class="well">
  {% for m in movies %}
  <h2>{{m.title}}</h2>
  <p>{{m.content}}</p>
  {% endfor %}
</div>
{% endif %}




{% for gr in groups %}
<hr>
<h2>Results :</h2>
<div class="well">
	<h2>{{ gr.title }}</h2>

	{% for eu in gr.enriched_urls %}
	
		<a href='{{ eu.url }}'>{{ eu.url }}</a>

		<p> -
		{% for uri in eu.uris %}
			{{uri}} -
		{% endfor %}
		</p>

	{% endfor %}
</div>
{% endfor %}




{% endif %}
{% endblock %}
